extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque nulla dolorem maiores eius aspernatur officia mollitia, ullam magnam libero reprehenderit. Quisquam explicabo ducimus delectus sit laboriosam porro totam earum labore?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia minus officiis, esse obcaecati soluta, sequi iste voluptate accusamus vitae, at aliquam illum! Blanditiis rerum, doloribus nemo explicabo, quia tempore fuga autem voluptatibus pariatur iusto et eveniet fugit amet repellat odit earum. Ducimus, facere eligendi voluptates illum quia iste eos id?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius odio iure alias omnis eaque cumque maxime hic corrupti dicta velit.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non accusantium qui ut iste asperiores, sed pariatur ea soluta deleniti cumque.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non accusantium qui ut iste asperiores, sed pariatur ea soluta deleniti cumque.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor precio
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non accusantium qui ut iste asperiores, sed pariatur ea soluta deleniti cumque.